In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Data/heart_disease.csv")
df.head()

,age,sex,chest pain type,resting blood pressure,serum cholestoral in mg/dl,fasting blood sugar > 120 mg/dl,resting electrocardiographic results,maximum heart rate achieved,exercise induced angina,oldpeak,slope of peak,number of major vessels,thal,Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,1
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,0
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,1
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,0
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,0

In [4]:
y = df["Disease"].values
X = df.drop("Disease",axis=1).values

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42,
shuffle=True,stratify=y)

In [7]:
df.describe()

,age,sex,chest pain type,resting blood pressure,serum cholestoral in mg/dl,fasting blood sugar > 120 mg/dl,resting electrocardiographic results,maximum heart rate achieved,exercise induced angina,oldpeak,slope of peak,number of major vessels,thal,Disease
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.00000,270.000000,270.000000,270.000000,270.000000
mean,54.433333,0.677778,3.174074,131.344444,249.659259,0.148148,1.022222,149.677778,0.329630,1.05000,1.585185,0.670370,4.696296,0.444444
std,9.109067,0.468195,0.950090,17.861608,51.686237,0.355906,0.997891,23.165717,0.470952,1.14521,0.614390,0.943896,1.940659,0.497827
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.00000,1.000000,0.000000,3.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,213.000000,0.000000,0.000000,133.000000,0.000000,0.00000,1.000000,0.000000,3.000000,0.000000
50%,55.000000,1.000000,3.000000,130.000000,245.000000,0.000000,2.000000,153.500000,0.000000,0.80000,2.000000,0.000000,3.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,280.000000,0.000000,2.000000,166.000000,1.000000,1.60000,2.000000,1.000000,7.000000,1.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.20000,3.000000,3.000000,7.000000,1.000000

In [8]:
X_train

array([[54.,  1.,  3., ...,  3.,  1.,  3.],
       [62.,  0.,  4., ...,  1.,  0.,  3.],
       [48.,  1.,  2., ...,  2.,  0.,  3.],
       ...,
       [41.,  1.,  2., ...,  2.,  0.,  6.],
       [52.,  1.,  2., ...,  1.,  1.,  3.],
       [52.,  1.,  4., ...,  1.,  1.,  3.]])

In [9]:
from sklearn.preprocessing import  StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train_scaled = sc.transform(X_train)
X_test_scaled = sc.transform(X_test)

In [10]:
pd.DataFrame(X_train)

       0    1    2      3      4    5    6      7    8    9    10   11   12
0    54.0  1.0  3.0  125.0  273.0  0.0  2.0  152.0  0.0  0.5  3.0  1.0  3.0
1    62.0  0.0  4.0  124.0  209.0  0.0  0.0  163.0  0.0  0.0  1.0  0.0  3.0
2    48.0  1.0  2.0  130.0  245.0  0.0  2.0  180.0  0.0  0.2  2.0  0.0  3.0
3    53.0  1.0  3.0  130.0  246.0  1.0  2.0  173.0  0.0  0.0  1.0  3.0  3.0
4    44.0  1.0  2.0  130.0  219.0  0.0  2.0  188.0  0.0  0.0  1.0  0.0  3.0
..    ...  ...  ...    ...    ...  ...  ...    ...  ...  ...  ...  ...  ...
197  50.0  1.0  4.0  144.0  200.0  0.0  2.0  126.0  1.0  0.9  2.0  0.0  7.0
198  45.0  0.0  2.0  112.0  160.0  0.0  0.0  138.0  0.0  0.0  2.0  0.0  3.0
199  41.0  1.0  2.0  135.0  203.0  0.0  0.0  132.0  0.0  0.0  2.0  0.0  6.0
200  52.0  1.0  2.0  134.0  201.0  0.0  0.0  158.0  0.0  0.8  1.0  1.0  3.0
201  52.0  1.0  4.0  112.0  230.0  0.0  0.0  160.0  0.0  0.0  1.0  1.0  3.0

[202 rows x 13 columns]

In [11]:
pd.DataFrame(X_train_scaled)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-0.046093,0.704483,-0.100509,-0.381127,0.476261,-0.401148,0.939926,0.070996,-0.665475,-0.489602,2.348644,0.387677,-0.864213
1,0.830214,-1.419481,0.914631,-0.438028,-0.748303,-0.401148,-1.069228,0.565520,-0.665475,-0.941611,-0.980662,-0.715292,-0.864213
2,-0.703323,0.704483,-1.115648,-0.096620,-0.059485,-0.401148,0.939926,1.329784,-0.665475,-0.760807,0.683991,-0.715292,-0.864213
3,-0.155631,0.704483,-0.100509,-0.096620,-0.040352,2.492847,0.939926,1.015087,-0.665475,-0.941611,-0.980662,2.593616,-0.864213
4,-1.141476,0.704483,-1.115648,-0.096620,-0.556964,-0.401148,0.939926,1.689438,-0.665475,-0.941611,-0.980662,-0.715292,-0.864213
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,-0.484246,0.704483,0.914631,0.700000,-0.920507,-0.401148,0.939926,-1.097879,1.502686,-0.127995,0.683991,-0.715292,1.207847
198,-1.031938,-1.419481,-1.115648,-1.120845,-1.685859,-0.401148,-1.069228,-0.558398,-0.665475,-0.941611,0.683991,-0.715292,-0.864213
199,-1.470091,0.704483,-1.115648,0.187887,-0.863105,-0.401148,-1.069228,-0.828138,-0.665475,-0.941611,0.683991,-0.715292,0.689832
200,-0.265170,0.704483,-1.115648,0.130986,-0.901373,-0.401148,-1.069228,0.340736,-0.665475,-0.218396,-0.980662,0.387677,-0.864213
201,-0.265170,0.704483,0.914631,-1.120845,-0.346493,-0.401148,-1.069228,0.430650,-0.665475,-0.941611,-0.980662,0.387677,-0.864213